/* ------------------------ */
/* This is your CSS files */

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: black;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
}

/* ========== HEADER STYLES ========== */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    background-color: #dc4c3e;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10;
    padding-bottom: 10;

}

.site-main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.site-header_status {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.search-bar {
    padding: 10px;
    padding-left: 40px;
    background-position: left center;
}

.search-container {
    display: flex;
    color: #ffffff;
    background-color: rgb(227, 141, 141);
    padding: 5px;
    margin: 10px;
}

.search-input {
    border: none;
    color: #ffffff;
    background-color: rgb(227, 141, 141);
    width: 300px;
}

.search-input::placeholder {
    color: #ffffff;
}

.search-icon {
    width: 15px;
}

.check-icon {
    background: url(assets/check_icon.png) no-repeat top left;
}


.page {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}


/* ========== NAVIGATION STYLES ========== */
.navbar {
    background-color: #fefbf2;
    color: #000000;
    width: 300px;
    line-height: 30px;
    font-size: 12px;

}

.navbar li {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin: auto;
}

.inbox-select {
    background: url(inbox_icon.png) no-repeat top left;
}

.today-select {
    background: url(calendar_icon.png) no-repeat top left;
}

.upcoming-select {
    background: url(upcoming_icon.png) no-repeat top left;
}

.task-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.task-form button { 
    transition: background-color 0.2s ease;
}

.task-form button:hover {
    background-color: #e7e7e7;
}

.task-count {
    color: #7e7d79;
    font-size: 12px;
    padding-left: 3px;
}

.task-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.task-completed {
    text-decoration: line-through;
    color: #7e7d79;
    opacity: 67%;
}

.filter-buttons button {
    transition: background-color 0.2s ease;
}

.filter-buttons button:hover {
    background-color: #e7e7e7;
}

.filter-buttons button.active {
    background-color: #c9c9c9;
}

.delete-button {
    display: flex;
    justify-content: left;
    transition: background-color 0.2s ease;

}

.delete-button:hover {
    background-color: #e7e7e7;
}
/* ========== MAIN CONTENT STYLES ========== */ 
.main-content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 1rem;
    box-sizing: border-box;
}

.main-content h1 {
    font-size: 20px;
}

.checkbox {
    display: flex;
    margin-bottom: 10px;    
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;

}

.radio-button {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #d6d6d6; 
    background: #ffffff;    
}

.checkbox p {
    flex: 1;
}


/* ========== RESPONSIVE STYLES ========== */
@media (max-width: 480px) {
    .navbar {
        display: none;
    }
}
